* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
_ide_helper.php linguist-generated
_ide_helper_models.php linguist-generated
package-lock.json linguist-generated
composer.lock linguist-generated
artisan linguist-generated
lang/vendor/** linguist-vendored
